@font-face{
    font-family: norse-bold;
    src: url(./fonts/Norse-Bold.otf)
}

:root{
    color: black;
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    display: flex;
    height: 100%;
    margin: 0;
}

#sidebar{
    background-image: url(./images/background.jpg);
    background-size: cover;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;

    .sidebar-banner{
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: norse-bold, sans-serif;
        color: white;
        font-size: 48px;
        background-color: rgb(0, 0, 0, 50%);
        padding: 16px;
        position: absolute;
        left: 0;
        right: 0;
        top: 20%;
        overflow: hidden;
        img{
            width: auto;
            height: 150px;
        }
        h1{
            margin: 0;
        }
    }

    .citation{
        position: absolute;
        bottom: 1rem;
        margin: 0;
        color: white;
        text-align: center;
        :link, :visited{
            color: white;
        }
    }
}

#main-body{
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: whitesmoke;

    p, legend{
        font-weight: bold;
        font-size: 24px;
        width: min(100% - 16px, 70%)
    }
}

#main-body > p,button{
    margin-left: 32px;
}

form{
    background-color: white;
    box-shadow: 0px 1px 2px #202020;
    padding: 24px 32px 32px 32px;
    align-self: stretch;
    height: 25%;
    display: flex;
    flex-direction: column;

    .fields{
        flex: 1;
        display: flex;
        flex-wrap: wrap;
        align-content: space-around;
        

        div{
            width: 40%;
        }
        
        label{
            display: block;
        }

        input{
            display: block;
            padding: 8px;
            border: 1px solid whitesmoke;
            border-radius: 5px;
        }
    }
}

input:focus{
    outline: 1px solid blue;
    box-shadow: 0px 1px 2px #101010;
}

input[type=password]:invalid{
    outline: 1px solid red;
}

button{
    margin-top: 32px;
    background-color: #596D48;
    padding: 16px 48px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    color: white;
}

.login-prompt{
    font-weight: normal;

    a{
        color: #596D48;
    }

    a:link{
        text-decoration: none;
    }
}